cloudpickle==2.0.0; python_version >= "3.7"
doit==0.34.1; python_version >= "3.7"
entrypoints==0.4; python_version >= "3.7"
jupyter-core==4.9.1; python_version >= "3.7"
jupyterlite==0.1.0a21; python_version >= "3.7"
macfsevents==0.8.1; sys_platform == "darwin" and python_version >= "3.7"
pyinotify==0.9.6; sys_platform == "linux" and python_version >= "3.7"
pywin32==303; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7"
traitlets==5.1.1; python_version >= "3.7"
